@implements IDialogContentComponent
<h3>Settings</h3>

<FluentDesignTheme  @bind-Mode="@Mode" 
                    @bind-OfficeColor = "@Color" 
                    StorageName="theme"/>

<FluentSelect Label="Theme" Items="@(Enum.GetValues<DesignThemeModes>())" @bind-SelectedOption="@Mode" />
<FluentSelect Label="Color" Items="@(new OfficeColor?[] {OfficeColor.Word, OfficeColor.Excel, OfficeColor.OneNote})" @bind-SelectedOption="@Color"/>



@code {
    private DesignThemeModes Mode =  DesignThemeModes.Light;
    private OfficeColor? Color = OfficeColor.Word;
}
